In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("../data/example.csv")
df.head(5)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [4]:
df = df.dropna()
df = df[df["sex"] != "."]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            334 non-null    object
 1   island             334 non-null    object
 2   culmen_length_mm   334 non-null    float64
 3   culmen_depth_mm    334 non-null    float64
 4   flipper_length_mm  334 non-null    float64
 5   body_mass_g        334 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.9+ KB

In [10]:
X = df.drop("species", axis=1)
y = df["species"]

In [19]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeClassifier

pl = Pipeline([
    (
        "preprocessor",
        ColumnTransformer(
            [("one-hot-encoder", OneHotEncoder(handle_unknown="ignore"), ["island", "sex"])], 
            remainder="passthrough"
        )
    ),
    ("predictor", DecisionTreeClassifier())
])

pl_md = pl.fit(X, y)

In [20]:
import pickle as pkl

pkl.dump(pl_md, open("../models/model.pkl", "wb"))